<div class="todo-item <%= todo_item.completed? ? 'completed' : '' %>">
  <h4><%= todo_item.name %></h4>

  <%= link_to "#{todo_item.comments.length} Comments", "#", :class => 'comment-count' %>

  <a href="javascript:" class="toggle-comment">Leave a comment</a>

  <%= render :partial => 'comments/form', :locals => { :item => todo_item } %>

  <div class="comments-<%= todo_item.id %>">
    <% todo_item.comments.each do |c| %>
      <%= render :partial => 'comments/comment', :locals => { :comment => c } %>
    <% end %>
  </div>

  <div class="info">
    <%= distance_of_time_in_words(Time.now, todo_item.created_at) %> ago
  </div>
</div>