<div class="row">
  <div class="destination">
    <h3><%= destination.name %></h3>

    <%= image_tag destination.image_url, :width => 280 %>
  </div>

  <div>
    <%= link_to 'Sort By Name', destination_todo_items_path(destination, :order => :name), :remote => true, :class => 'sort-link' %>
    <%= link_to 'Sort By Name Desc', destination_todo_items_path(destination, :order => 'name desc'), :remote => true, :class => 'sort-link' %>
  </div>

  <div class="items">
    <div class="items-<%=destination.id%>">
      <% destination.todo_items.order(@order).each do |i| %>
        <%= render i %>
      <% end %>
    </div>

    <%= render :partial => 'todo_items/form', :locals => { :destination => destination } %>
  </div>


</div>