<!DOCTYPE html>
<html>
<head>
  <title>Bucketlist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqkRChzl8n0kuROcxSE1XATkHdokRxBz4&sensor=false">
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      initMap();

      var items = <%= raw(TodoItem.all.to_json) %>;

      for(item in items) {
        addMarker(item.latitude, item.longitude, item.name);
      }
    });
  </script>

</head>
<body>

<div id="map-canvas">
</div>

<div id="content" class="box">
  <%= yield %>
</div>

</body>
</html>
